{% extends "base-template.html" %}

{% block title %}Product{% endblock %}

{% block content %}
    <h1>Hello to creation of a new product</h1>

    {% if error %}
      <div class="alert alert-warning" role="alert">
        {{ error }}
      </div>
    {% endif %}
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Informe o nome do produto">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Preço</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Informe o preço do produto" min="0.00">
          </div>
          <input type="submit" value="Salvar" class="btn btn-primary">
    </form>
    
{% endblock %}